<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    
    <h1>Marcador Exacto que se yo (el h1 es titulo)</h1>
    <img src="https://phantom-expansion.unidadeditorial.es/0c295d530ce249b548440983088a2a53/crop/0x60/2047x1210/resize/1200/f/webp/assets/multimedia/imagenes/2023/01/07/16730474851918.jpg" alt="">
    <p>Escoogemos un numero aleatrorio del 1 al 100: {{numero}}</p>

</body>
</html>